version: "3.9"

services:

  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
	  - "9001:9001"
    volumes:
	  - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    stdin_open: true
    tty: true
	networks:
      - homey

  zookeeper:
    image: wurstmeister/zookeeper:3.4.13
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - homey
	restart: always

  kafka:
    image: wurstmeister/kafka:2.8.1
    container_name: kafka
	depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
	  KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - homey
	restart: always
 
  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
	  - influxdb2-config:/etc/influxdb2
    env_file:
      - .env
    networks:
      - homey

  mysql:
    image: mysql:8.4
    container_name: mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
	networks:
      - homey

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2
    container_name: phpmyadmin
	ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
	depends_on:
      - mysql
    networks:
      - homey
    
  
  mongodb:
    image: mongo:8
    container_name: mongodb
    ports:
      - "27017:27017"
	volumes:
      - mongodb-data:/data/db
    networks:
      - homey
	
  jobmanager:
    image: flink:1.18
    container_name: jobmanager
	command: jobmanager
    ports:
      - "8081:8081"
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
	networks:
      - homey

  taskmanager:
    image: flink:1.18
    container_name: taskmanager
    depends_on:
      - jobmanager
    command: taskmanager
    environment:
      - JOB_MANAGER_RPC_ADDRESS=jobmanager
	networks:
      - homey

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - homey

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
	volumes:
      - redis-data:/data
    networks:
      - homey

  graphdb:
    image: ontotext/graphdb:latest
    container_name: graphdb
    ports:
      - "7200:7200"
    volumes:
      - graphdb-data:/opt/graphdb/home
    networks:
      - homey
	
  trino:
    image: trinodb/trino:9.5
    container_name: trino
    ports:
      - "7070:7070"
    volumes:
      # Config principale
      - ./trino/config.properties:/etc/trino/config.properties
      # Catalogs
      - ./trino/catalog/mysql.properties:/etc/trino/catalog/mysql.properties
      - ./trino/catalog/postgres.properties:/etc/trino/catalog/postgres.properties
      - ./trino/catalog/mongodb.properties:/etc/trino/catalog/mongodb.properties
    networks:
      - homey

volumes:
  influxdb-data:
  mysql-data:
  mongodb-data:
  postgres-data:
  redis-data:
  graphdb-data


networks:
  homey:
    driver: bridge