name: workflow_actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  update-code:
    runs-on: ubuntu-latest
    steps:
      - name: Copy folder content recursively to remote
        uses: garygrossgarten/github-action-scp@release
        with:
          local: ./
          remote: /VOL200GB/test_emanuele
          host: ${{ secrets.SERVER }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
      
