name: workflow_actions
run-name: ${{ github.actor }} is learning GitHub Actions!
on: [push]
jobs:
  update-code:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

   - name: deploy
     uses: pressidium/lftp-mirror-action@v1
     with:
       host: ${{ secrets.SERVER }}
       port: ${{ secrets.PORT }}
       user: ${{ secrets.USERNAME }}
       pass: ${{ secrets.PASSWORD }}
       localDir: './test'
       remoteDir: '/VOL200GB/test_emanuele/'
     
