name: workflow_actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  update-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code    
        uses: actions/checkout@v4
      
      - name: Set up SSH 
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      - name: Sync files    
        run: rsync -avz --delete-after --exclude '.git' ./ estorti@193.205.129.120 -p 63426 :/VOL200GB/test_emanuele
