name: workflow_actions
run-name: ${{ github.actor }} is learning GitHub Actions
on: [push]
jobs:
  update-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code    
        uses: actions/checkout@v4
      
      - name: Set up SSH 
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      - name: Sync files    
        run: rsync -avz --delete-after --exclude '.git' ./ ${{username}}@${{server}} -p${{port}}:/opt/test_emanuele
        
      - name: Execute remote commands
        run: |
        ssh ${{username}@${{server}} -p ${{port}} << 'EOF'
        cd /opt/test_emanuele
        # Add your deployment commands here
        touch ciao.txt
        echo "Ciao!" >> ciao.txt
        EOF
