# This is a basic workflow to upload files 
# from GitHub to server via GitHub Actions
name: workflow_actions
run-name: ${{ github.actor }} pushed on the repository

# Controls when the workflow will run
on:

  # Triggers the workflow on push request event 
  # but only for the specific branch
  push:
    branches: [ main ]

# A workflow run is made up of one or more jobs 
# that can run sequentially or in parallel
jobs:
  upload_files:
    runs-on: ubuntu-latest
    name: Upload a builded file.
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Upload Files
      id: upload
      uses: Creepios/sftp-action@v1.0.3
      timeout-minutes: 3
      with:
        host: '${{ secrets.SERVER}}'
        port: '${{ secrets.PORT}}'
        username: '${{ secrets.USERNAME}}'
        password: '${{ secrets.PASSWORD}}'
        localPath: './code/'
        remotePath: '/VOL200GB/framework'

