name: workflow_actions
run-name: ${{ github.actor }} is learning GitHub Actions!
on:
  push:
    branches:
      - main

jobs:
  update-code:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
      
    - name: deploy
      uses: Dylan700/sftp-upload-action@latest
      with:
        server: ${{secrets.SERVER}}
        username: ${{secrets.USERNAME}}
        password: ${{secrets.PASSWORD}}
        port: 63426
        uploads: |
         ./ => /VOL200GB/test_emanuele
