name: workflow_actions
run-name: ${{ github.actor }} is learning GitHub Actions!
on: [push]
jobs:
  update-code:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Copy files via SFTP
      env:
        SFTP_USER: ${{ secrets.USERNAME }}
        SFTP_HOST: ${{ secrets.SERVER }}
        SFTP_PORT: ${{ secrets.PORT }}
        SFTP_PATH: ${{ secrets.PATH }}
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      run: |
        mkdir -p ~/.ssh
        echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        sshpass -e sftp -o StrictHostKeyChecking=no $SFTP_USER@$SFTP_HOST:$SFTP_PORT <<EOF
        put -r ./* $SFTP_PATH
        bye
        EOF
